.message {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .message > * {
    margin-right: 5px;
  }
  
  .message > :last-child {
    margin-right: 0;
  }
  
  .message_text {
    font-size: 16px;
    color: #333;
  }