body {
    
    background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20190220/ourmid/pngtree-simple-simple-concise-navy-blue-image_8355.jpg");
    background-size: cover;
    color: rgb(48, 15, 211) !important;
}